body {
  box-sizing: border-box;
  background-color: rgb(38, 114, 190);
}

#card_stack {
  width: 50vw;
  height: 60vh;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: green;
}

.card_stack__card {
  background: white;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  font-size: 0;
}

.card_stack__card_open {
  background: red;
  font-size: 30px;
}
.card_stack__card_disabled {
  pointer-events: none;
}

.card_stack__card_matched {
  pointer-events: none;
  background-color: green;
}
